@import url('http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic');

html, body {
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Roboto', Arial, sans-serif;
	background-color: #000;
	background-image: url('../img/wetter_bg.jpg');
}

.container-fluid {
	margin: 40px 50px 0 50px !important;
	float: left;	/* remove scrollbars */
}

header {
	color: #000;
	width: 840px;
	text-align: left;
	display: block;
	height: 50px;
}

header h1 {
	float: left;
	font-size: 40px;
	font-weight: lighter;
	margin: 0;
	padding: 0 10px 0 0;
}

div#city {
	text-align: left;
	vertical-align: bottom;
}

div#city span {
	margin-top: 10px;
}

div#city form {
	float: right;
}

.search {
	float: right;
	margin-bottom: 10px;
}

#datawrap .col-md-5 {
	min-width: 800px !important;
}

.data {
	min-height: 411px;
	background-color: rgba(255,255,255,0.7) !important;
}

.data .edit {
	display: none;
}

.data .edit, .data .editable {
	height: 55px;
}

.data .edit.date, .data .editable.date {
	width: 170px;
}

.data .edit.date input {
	width: 155px;
}

.data .edit.temp, .data .editable.temp {
	width: 125px;
}

.data .edit.city, .data .editable.city {
	width: 125px;
}

.data .edit.image, .data .editable.image {
	width: 125px;
}

.data .edit.comment, .data .editable.comment {
	width: 190px;
}

.editlink, .savelink {
	margin-right: 5px;
}

table, th, tr, td {
	vertical-align: top;
	padding: 5px !important;
	max-height: 50px;
	border: none !important;
}

/*tr:nth-child(even) {
	background: #fff;
}*/

#results {
	display: none;
	min-width: 800px !important;
}

td.img img {
	width: 50px;
	cursor: pointer;
}

.invisible {
	display: none;
}

.temp .input-group {
	max-width: 120px;
}

.loading {
	content: url('../img/loading.gif');
}

.form-control {
	display: inline-block !important;
}

#newdataform div.col-xs-4 {
	min-width: 130px;
}

#newdataform div.col-xs-6 {
	min-width: 180px;
}

#searchform .col-xs-7, #searchform label {
	padding-right: 0;
}

#searchform label {
	padding-left: 10px;
}

#searchform a, footer a {
	color: #000;
	text-decoration: none;
}

#searchform a:hover, footer a:hover {
	color: #000;
}

.newdata {
	min-height: 411px;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.7) !important;
}

#newcitybody .input-group-addon.latlng {
	min-width: 88px;
}

#status {
	color: #000;
}

td .remove:hover {
	color: #f00;
}

td .save:hover {
	color: #0d0;
}

footer {
	color: #000;
	margin-top: 40px;
	font-size: 10pt;
}

.editable.img {
	background-size: 60px;
	background-repeat: no-repeat;
}

@media screen and (max-width: 1312px) {
	 .newdata {
		margin-left: 20px;
	}
}

#zoombody {
	text-align: center;
}

#zoombody img {
	max-width: 568px;
}

#mapwrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -999;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}

#map {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

#smallmap {
	width: 300px;
	height: 300px;
	overflow: hidden;
}

#datawrap, #map {
	display: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}